$oddColor: #9E9E9E;
$hoverColor: #616161;

.search {
  &__wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  &__input {
    text-align: center;
    padding: 5px;
    &--text {
      font-size: 1.5rem;
      text-align: center;
      background: transparent;
      border: none;
      border-bottom: 3px solid green;
      &:focus {
        border-bottom: 3px solid blueviolet;
        outline: none;
      }
    }
  }

  &__type-selector {
    display: flex;
    align-items: center;
    text-align: center;
    padding: 10px 0 20px 0;
    &--btn {
      flex-grow: 1;
      cursor: pointer;
      img {
        height: 3rem;
      }
      .bar {
        background-color: transparent;
        height: 5px;
        width: 100%;
      }
    }
    &--btn.active {
      cursor: default;
      .bar {
        background-color: green;
      }
    }
  }

  &__items {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
  }

  &__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 4rem;
    &--number {
      width: 4rem;
      text-align: center;
    }
    &--se {
      display: flex;
      flex-direction: column;
      flex: 1;
      justify-content: space-around;
      div {
        padding: 5px;
      }
    }
    &:nth-child(2n-1) {
      background-color: $oddColor;
    }
    &:hover {
      background-color: $hoverColor;
      cursor: pointer;
    }
  }
}
